@import './theme-default';
@import './variable';

.zent-design-editor-item {
  font-size: 12px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $editor-width;
  padding: 80px 20px 50px;
  background: #fff;
  overflow-y: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    color: $theme-primary-4;
    text-decoration: none;
    cursor: pointer;
  }

  &.zent-design-add-component-overlay {
    width: 293px;
    box-sizing: content-box;
    padding: 0 0 10px;
    margin-top: -20px;

    &.zent-design-add-component-overlay--bottom {
      top: 100%;
    }

    &.zent-design-add-component-overlay--top {
      top: 0;
    }
  }
}
