@import "./theme-default";
@import "./variable";

$control-group-red: $theme-error-2;

.zent-design-editor-item {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $editor-width;
  padding: 80px $editor-padding 50px;
  background: #fff;
  overflow-y: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);

  &::-webkit-scrollbar {
    display: none;
  }
}

.zent-design-editor__control-group {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &-label {
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
  }

  &-help-desc {
    color: $theme-stroke-3;
    margin-top: 20px;
  }

  &-control {
    flex-grow: 1;
  }

  &-error {
    margin-top: 5px;
  }

  &-required-star {
    color: $control-group-red;
  }

  &.has-error {
    color: $control-group-red;
  }
}
