@import './theme-default';
@import './variable';

.zent-design-editor-item {
  font-size: 12px;

  a {
    color: $theme-primary-4;
    text-decoration: none;
    cursor: pointer;
  }

  &.zent-design-add-component-overlay {
    width: 293px;
    box-sizing: content-box;
    padding: 0 0 10px;
    margin-top: -20px;

    &.zent-design-add-component-overlay--bottom {
      top: 100%;
    }

    &.zent-design-add-component-overlay--top {
      top: 0;
    }
  }
}
