@import './components/index';

#demo {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.design-example-actions {
  margin-top: 20px;

  .zent-btn {
    width: 100px;
    margin-right: 10px;
  }
}
