@import './components/index';

#demo {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.design-example-actions {
  margin-top: 20px;

  .zent-btn {
    width: 100px;
    margin-right: 10px;
  }
}

.design-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  &__go-back {
    color: #4f4f4f;
    cursor: pointer;
  }
}
