@import "./design/variable";
@import "./design/preview";
@import "./design/editor-item";
@import "./design/preview-controller";
@import "./design/editor-add-component";
@import "./design/editor";
@import "./design/alert";
@import "./design/header";

.zent-design {
  text-rendering: optimizelegibility;
  font-family: inherit;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding-top: $header-height;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;

  &__add {
    width: 200px;
    padding: 15px 0;
    position: relative;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &--mixed {
      background: $theme-stroke-8;

      &:after {
        border-bottom-color: $theme-stroke-8;
      }
    }

    &--grouped {
      background: $theme-stroke-9;

      &:after {
        border-bottom-color: $theme-stroke-9;
      }
    }
  }

  &__disabled-mask {
    position: absolute;
    z-index: 10;
    background-color: rgba(black, 0.2);
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    top: 0;
    left: 0;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
